* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'PT Sans', sans-serif;
  }

  header{
    background-image: url(bgCover.jpg);
    background-size: cover ;
    background-position: 15%;
    height: 100vh;
    color: aliceblue;
  }

  header h1 {
    font-size: 4rem;
    font-family: 'Caveat', cursive;
    font-family: 'Edu TAS Beginner', cursive;
  }

  header h2 {
    font-family: 'Caveat', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    display: inline-block;
    border: 2px solid white;
  }

  .navbar {
    display: flex;
    background-color: rgb(25, 24, 25);
  }

  .navbar .nav .nav-link {
    color: white;
    width: 120px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Caveat', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'PT Sans', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 80%;
}

.navbar li{
  margin-top: 5px;
}

.about {
  background-color: black;
  color: rgb(220, 226, 232);
  font-family: 'Caveat', cursive;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'PT Sans', sans-serif;
}

footer {
  background-color: rgb(127, 117, 117);
  color: aliceblue;
  padding: 0px;
}

.contact{
  background-image: url('https://source.unsplash.com/eXUTOd9ZdsQ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactBG{
  background-color: black;
  background-size: cover;
  font-family: 'Caveat', cursive;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 50px;
}

.contactCard{
  background-color: rgb(42, 41, 41);
  color: aliceblue;
}

.contactCard p{
  color: rgb(206, 212, 218);
}

.videos{
  background-color: black;
  padding-bottom: 100px;
}

.videosBG{
  background-color: rgb(49, 47, 47);
  color: aliceblue;
}

.gallery {
  padding: 70px;
  background-color: black;
  padding-bottom: 100px;
}